

.cells {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #D3D3D3;
    background-image: url('ocean.jpg');
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #ffffff;
    background-image: url('ocean.jpg');
  }
  
  .centered {
    text-align: center;
  }

  #instructions {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #yourShips {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #P0Title1 {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #P0Title2 {
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 10px;
  }

  #P1Title1 {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #P1Title2 {
    padding: 0rem;
    margin: 0rem;
    margin-bottom: 10px;
  }

  #P0Comment1 {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #P0Comment2 {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #P1Comment1 {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }

  #P1Comment2 {
    background-color: #95c0ee;
    padding: 0rem;
    margin: 0rem;
  }
  

  .cells:hover {
    opacity: .4;
    
  }

  