.cells {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #D3D3D3;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #ffffff
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    text-align: center;
  }
  