

.cells {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

/* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 10px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #D3D3D3;
    background-image: url('ocean.jpg');
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #ffffff;
    background-image: url('ocean.jpg');
  }
  
  .centered {
    text-align: center;
  }

  #comment0 {
    background-color: #95c0ee;
  }

  #comment1 {
    background-color: #95c0ee;
  }

  #scoreBox {
    background-color: #95c0ee;
  }
  